body {
    font-size: 1rem;
	line-height: 1;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 4%;
}

// ширина от min-widht для мобильний 
@media screen and (min-width: 480px) {
    .container {
        padding: 0 6%;
    }
}

// ширина от min-widht для лептоп 
@media screen and (min-width: 768px) {
    .container {
        padding: 0 8%;
    }
}

// ширина от min-widht для десктоп 
@media screen and (min-width: 1200px) {
    .container {
    padding: 0 10%;
    }
}
